html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 13px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: wrap;
    padding: 10px;
}

canvas {
    display: block;
    border: 2px solid #d0d0d0;
    border-radius: 2px;
    margin: 0 10px 10px 0;
    padding: 3px;
}